*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffff;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: 35px;
    margin-left: 5%;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul{
    display: flex;
}
.navbar-container>div>img{
    width: 100px; 
}

.grow-list{
    margin-right:auto;
    /* gap: 50px; */
}
.list{
    list-style:none;
    display: flex;
    gap: 30px;
}
.list-item{
    margin-left: 6% ;
}

.list li:first-child{
	color: #255183;
}

.nav-button{
	background-color: #5955b3;
	color: #ede8ee;
	padding: 12px 24px;
	border-radius: 10px;
	border: none;
    margin-right: 120px;
}
.heading-text{
    margin-top: 150px;
    width: 450px;
    height: 200px;
    font-size: 50px;
    color: #3c2f60;
    font-weight: 600;
}


.banner-container>div>img{
    float: right;
    margin-top: -500px;
}

.description{
	color: #9c9d9f;
	margin-top: 75px;
	width: 450px;
}

.nav-button.btn{
	padding: 18px 36px ;
	margin: 29px 14px;
	
}
.heading-text span{
	color: #5955b3;
}